<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Lasertag</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/lasertag.js"></script>
  </head>
  <body>
  	<div class="content <%= extraClasses %>">
	    <%- body %>
	</div>
  </body>
</html>